$cultured: #f5f5f5;
$transparentCultured: #f5f5f569;
$tealBlue: #00778f;
$richBlack: #001219;
$licolnGreen: #376604;
$virdianGreen: #0a9396;
$sealBrown: #44150e;
$alloyorange: #703107;
$pureWhite: #ffffff;

$landing-border-padding: 30px;
$double: 60px;

$fontFamily: "Dancing Script", cursive;
$secondaryFontFamily: "Mulish", sans-serif;

.action--button {
	border: none;
    background: transparent;
	color: $cultured;
	font-size: 1.2rem;
	border: 2px solid $cultured;
	cursor: pointer;
	// height: calc(100% - 7px);
	// width: calc(100% - 7px);
}

.action--button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 200px;
	background: $sealBrown;
	transition: 0.2s;   
    &:hover {
        background: $alloyorange;
    }
}
