@import "../../styles/variables.scss";

.cards--outer-container {
    margin-top: 30px;
    height: 600px;
    min-height: 600px;
    width: 100%;
    background-position: center bottom;
    background-size: cover;
    font-family: $secondaryFontFamily;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows:    repeat(1, 350px);
    justify-items: center;
}

.card--outer-container {
    height: 95%;
    width: 95%;
    box-shadow: 5px 5px  15px rgba(0, 0, 0, 0.404);
    transition: .2s;
}
.card--background {
    height: 100%;
    width: 100%;
}
.card--background-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background:#f5f5f570;
}

.card--info-container {
    font-size: 1rem;
height: 100%;
width: 100%;
}

.card--button-container {
    margin-bottom: 20px;
}

@media screen and (max-width: 1400px) {

    .cards--outer-container {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 350px);
    }

  }

  @media screen and (max-width: 850px) {

    .cards--outer-container {
        grid-template-columns: repeat(1, 80%);
        grid-template-rows: repeat(4, 350px);
    }

  }