@import "../../styles//variables.scss";

.navbar--outer-container {
    height: 50px;
    width: calc(100vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: $cultured;
    color: $richBlack;
    font-family: $secondaryFontFamily;
    font-size: 1rem;
    position: sticky;
    top: 0;
    font-weight: 400;
}

.navbar--navigation-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    position: relative;
    left: 50px;
}

.navbar--info-section {
    display: flex;
    align-items: center;
    position: relative;
    right: 50px;
    font-size: 1.4rem;
    width: 300px;
    justify-content: space-between;
}

.navbar--login {
    display: flex;
    align-items: center;
}

.navbar--login-logo {
    height: 30px;
    width: 30px;
    background-image: url("../../images/login.png");
    background-position: center center;
    background-size: cover;
}

.navbar--location {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    padding: 5px;
    cursor: pointer;
    &:hover {
        color: $tealBlue;
    }
}