@import "../../styles//variables.scss";

.navbar--outer-container {
	height: 50px;
	width: calc(100vw);
	display: flex;
	align-items: center;
	flex-direction: row;
	background: $cultured;
	color: $richBlack;
	font-family: $secondaryFontFamily;
	font-size: 1rem;
	position: sticky;
	top: 0;
	font-weight: 400;
	z-index: 1;
}

.navbar--mobile-menu {
	display: none;
	position: sticky;
	left: 50px;
	flex-direction: column;
}

.navbar--mobile-menu.dropdown-active {
	display: flex;
	height: max-content;
	width: calc(50%);
	background-color: $cultured;
	position: absolute;
	left: 45px;
	top: 45px;
	border-radius: 3px;
	box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.404);
}

.navbar--hamburger-outer-container {
	position: relative;
	left: 50px;
	height: 100%;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&:hover {
		.hamburger-bar {
			background-color: $alloyorange;
		}
	}
}

.navbar--navigation-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	position: relative;
	left: 50px;
}

.navbar--location {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
	padding: 10px;
	font-size: 1.3rem;
	cursor: pointer;
	transition: 0.2s;
	&:hover {
		color: $tealBlue;
		background-color: $pureWhite;
	}
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: $sealBrown;
	margin: 6px 0;
	transition: 0.4s;
}

.navbar--hamburger-container.dropdown-active {
    .hamburger-bar {
        background-color: $alloyorange;
    }

	.bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	.bar2 {
		opacity: 0;
	}
	.bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
}

@media screen and (min-width: 750px) {
	.navbar--hamburger-container {
		display: none;
	}
	.navbar--mobile-menu {
		display: flex;
		flex-direction: row;
		align-content: flex-start;
		align-items: flex-start;
		text-align: start;
	}

	.navbar--location {
		font-size: 1rem;
		&:hover {
			background-color: none;
		}
	}

	.navbar--mobile-menu.dropdown-active {
		display: flex;
		flex-direction: row;
		height: 50px;
		align-content: flex-start;
		align-items: center;
		text-align: start;
		width: 100%;
		position: absolute;
		top: 0;
		left: 50px;
	}

}
